[Desktop Entry]
Name=Freeplane
GenericName=Mind map editor
Comment=Create / edit mind maps.
Exec=sh -c "$HOME/.local/bin/freeplane"
Type=Application
Icon=freeplane
Categories=Graphics;Office;Science
