autostart
BraveSoftware
chromium
cmus
configstore
dconf
Dharkael
digikamrc
digikam_systemrc
discord
enchant
evince
flameshot
freeplane
GIMP
glib-2.0
google-chrome
gthumb
gtk-2.0
gtk-3.0
guvcview2
htop
ibus
inkscape
kitty
libreoffice
matplotlib
mimeapps.list
mpv
nautilus
neofetch
nitrogen
nnn
obsidian
pavucontrol.ini
pipewire-media-session
polybar
pulse
qt5ct
QtProject.conf
rofiemoji-rofiunicode
Slack
spacefm
systemd
termite
uhk-agent
Unknown Organization
vlc
volumeicon
Zeal
zoomus.conf
zsh
mpd/log
mpd/pid
mpd/database
mpd/playlists/*
mpd/sticker.sql
ncmpcpp/error.log