[theme]
theme = "gruvbox-dark"

[icons]
icons = "awesome6"

[[block]]
block = "focused_window"
format = "$title.str(max_w:60)"

[[block]]
block = "keyboard_layout"
driver = "xkbevent"
format = " [ $layout ] "

[[block]]
block = "time"
interval = 30
format = "$icon $timestamp.datetime(f:'%Y-%m-%d %a | %H:%M')"

[[block.click]]
button = "left"
cmd = "gsimplecal"

[[block]]
block = "backlight"
invert_icons = true

[[block]]
block = "battery"
interval = 10
format = "$icon $percentage $time_remaining"

## re:toggle, from https://github.com/greshake/i3status-rust/issues/669#issuecomment-628720874
## command_state has to print something out to mean "on"
## command_state has to print nothing out to mean "off" (both of these are documented)
## command_state has to exit successfully, $? == 0 (this one is not documented)

# [[block]]
# block = "toggle"
# text = "VPN"
# command_state = "[[ \"$(expressvpn status | grep -i connect | head -1)\" != \"Not connected\" ]] && echo on || echo"
# command_on = "expressvpn connect smart"
# command_off = "expressvpn disconnect"
# interval = 1

[[block]]
block = "sound"
driver = "pulseaudio"

[[block]]
block = "sound"
driver = "pulseaudio"
device_kind = "source"
