[Desktop Entry]
Name=Github website
Exec=bash -c "$HOME/.local/bin/isolated-website.sh chromium ch-github https://github.com"
Type=Application
Terminal=false
Categories=Internet;
X-GNOME-SingleWindow=true
