[Desktop Entry]
Name=YouTube
Exec=bash -c "$HOME/.local/bin/isolated-website.sh chromium ch-youtube https://www.youtube.com"
Type=Application
Terminal=false
Categories=Internet;
X-GNOME-SingleWindow=true
