[Desktop Entry]
Name=Org-Protocol
Exec=emacsclient -c -F "((name . \"emacs-float\") (height . 30) (width . 80))" "%u"
Icon=emacs-icon
Type=Application
Terminal=false
MimeType=x-scheme-handler/org-protocol
